* {
  box-sizing: border-box; /*применяется для изменения алгоритма расчёта ширины и высоты элемента. ширина блока складывается из ширины контента (width), значений отступов (margin), полей (padding) и границ (border).*/
  padding: 0; /* позволяет задать величину поля сразу для всех сторон элемента или определить поля только для указанных сторон. */
  margin: 0; /*позволяет контейнеру обрезать поля своих дочерних элементов там, где они примыкают к краям контейнера.*/
  border: 0; /* Толщина рамки задаётся свойством border, при этом если указано border: 0, то рамка не выводится. При других значениях border рисунок всегда имеет приоритет. */
}
body {
  height: 100%;
  background-color: black;
  font-family: "League Spartan", sans-serif; /*устанавливает семейство шрифта, которое будет использоваться для оформления текста содержимого. */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
img {
  max-width: 100%; /* устанавливает максимальную ширину элемента. */
}
a {
  text-decoration: none; /* устанавливает внешний вид декоративных линий в тексте. */
}
ul li {
  list-style: none; /*позволяет одновременно задать стиль маркера, его положение, а также изображение, которое будет использоваться в качестве маркера списка.*/
}
.wrapper {
  max-width: 1440px;
  margin: auto;  
}
.main {
  background-color: #f8f8f8;
  /* max-width: 1440px; */
}
.gallery__item {
  display: flex;
  position: absolute;
  flex-shrink: 0;
  max-width: 408px;
  max-height: 720px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  margin: 4px 240px 219px 792px;
}
.text__title {
  max-width: 135px;
  color: var(--, #161515);
  font-size: 24px;
  font-weight: 300;
  line-height: 186%;
  padding-top: 104px;
  padding-left: 133px;
  margin-bottom: 53px;
}
.head__title {
  max-width: 888px;
  color: #272727;
  font-size: 250px;
  font-weight: 300;
  line-height: normal;
  padding-left: 133px;
  margin: 0;
  margin-bottom: 43px;
}
.info__title {
  max-width: 725px;
  color: var(--, #161515);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
  padding-left: 135px;
  margin-bottom: 87px;
}
.products__button {
  display: inline-flex;
  align-items: center;
  /* gap: 38px; */
  padding-left: 135px;
  margin-bottom: 246px;
}
.btn__primary {
  background-color: #161515;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  padding: 35px 75px 35px 75px;
}
.products__price {
  display: flex;
  color: #272727;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  background: #fff;
  box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
  padding: 35px 75px 35px 75px;
}
.content {
  /* width: 1440px; */
  height: 3629px;
  background: #fff;
}
.content__text {
  width: 171px;
  height: 41px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 186%;
}
.content__title {
  width: 285px;
  height: 62px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 72px;
  font-weight: 400;
  line-height: 112.5%;
}
.gallery__img {
  width: 286px;
  height: 410px;
  flex-shrink: 0;
  background: url(<path-to-image>),
    lightgray -67px 0px / 143.357% 100% no-repeat;
}
.name__watch {
  width: 285px;
  height: 27px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.watch__info {
  width: 532px;
  height: 194px;
  flex-shrink: 0;
  color: var(--, #161515);
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
}
.gallery__img {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}
.name__watch {
  width: 285px;
  height: 27px;
  flex-shrink: 0;
  color: var(--, #161515);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.watch__info {
  width: 510px;
  height: 196px;
  flex-shrink: 0;
  color: var(--, #161515);
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
}
.product__description {
  width: 972px;
  height: 50px;
  flex-shrink: 0;
  color: var(--, #161515);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 186%;
  text-transform: capitalize;
}
.info__content {
  width: 515px;
  height: 231px;
  flex-shrink: 0;
  color: var(--, #161515);
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 170%;
}
