* {
    box-sizing: border-box;     /*применяется для изменения алгоритма расчёта ширины и высоты элемента. ширина блока складывается из ширины контента (width), значений отступов (margin), полей (padding) и границ (border).*/
    padding: 0;     /* позволяет задать величину поля сразу для всех сторон элемента или определить поля только для указанных сторон. */
    margin: 0;   /*позволяет контейнеру обрезать поля своих дочерних элементов там, где они примыкают к краям контейнера.*/
    border: 0;  /* Толщина рамки задаётся свойством border, при этом если указано border: 0, то рамка не выводится. При других значениях border рисунок всегда имеет приоритет. */
}    
body {
    height: 100%;
    font-family: 'League Spartan', sans-serif;  /*устанавливает семейство шрифта, которое будет использоваться для оформления текста содержимого. */
}    
img {
    max-width: 100%;    /* устанавливает максимальную ширину элемента. */
}    
a {
    text-decoration: none;  /* устанавливает внешний вид декоративных линий в тексте. */
}    
ul li {
    list-style: none;   /*позволяет одновременно задать стиль маркера, его положение, а также изображение, которое будет использоваться в качестве маркера списка.*/
}